.vscode/**
.github/**
scripts/**
src/**
src/test/**
node_modules/**
**/*.ts
**/*.map
**/tsconfig.json
**/*.md
!README.md
!CHANGELOG.md
esbuild.config.mjs
vitest.config.ts
pnpm-lock.yaml
.gitignore
**/*.test.ts
.cursor/**
builds/**
